<div style="
              display: flex;
              border-bottom-style: solid;
              border-color: #000000;
              border-bottom-width: 1px;
            ">
    <div style="width: 32px; min-width: 9rem">
        <img src="[ImageSrc]"
             style="
                  max-width: 100%;
                  vertical-align: middle;
                  line-height: 100%;
                  border: 0;
                  object-fit: contain;
                "
             alt="" />
    </div>
    <div style="
                display: grid;
                width: 100%;
                padding: 3px;
                text-align: left;
              ">
        <div>
            <div>[Brand]</div>
            <div>
                [Model]
            </div>
            <div>[Color]</div>
            <div>Størrelse: [Size]</div>
        </div>
        <div style="display: flex;">
            <div>
                <div>Antal: [OrderedTotalAmount]</div>
                [Price]
            </div>
        </div>
    </div>
</div>