/* Chrome, Safari, Edge, Opera */
input.orderedItemsTotal::-webkit-outer-spin-button,
input.orderedItemsTotal::-webkit-inner-spin-button {
	appearance: none;
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"].orderedItemsTotal {
	-moz-appearance: textfield;
}
